div{
    display: flex;
    border-bottom: 1px solid rgb(243, 243, 243);
    padding: 10px 10px;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}

